
body {
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    flex: 1 0 200px;
    padding: 40px;
    text-align: center;
}

#intro-card {
    flex: 1 0 200px;
    padding: 20px;
    text-align: center;
}

#questions-card {
    flex: 1 0 200px;
    padding: 20px;
    text-align: center;
}
